<div class="container" *ngIf=" gif && gif.imgUrl">

  <ng-container *ngIf="loaded$|async;else nothing">
    <div class="text-container">
      <h3 class="text">{{gif.query }}</h3>
      <p class="text">{{gif.fullText }}</p>

      <div class="image-footer">

        <h6>{{gif.byUsing}}</h6>

        <div>
          <button mat-icon-button (click)="reload()" color="primary">
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-icon-button color="warn" class="favourite">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="image-container">
      <img [src]="gif.imgUrl">
    </div>
  </ng-container>

  <ng-template #nothing>

    <div class="text-container">
      <h3 class="text">{{gif.query}}</h3>
      <p class="text">{{gif.fullText}}</p>
    </div>
  </ng-template>
</div>
