.container {
  margin: auto;
  text-align: center;
  padding: 20px;
  height: 100%;
  background-size: cover;
  background: url("https://media3.giphy.com/media/e2wFIvRQ71MaI/giphy.gif") no-repeat center;
  display: flex;
  flex-flow: column;
  overflow: hidden;

}

.text {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, .1);
}

img {
  height: 100vh;
}
